@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style1.css">
    <title>BStore</title>

</head>
<body>
    <div class="catalog__container">
        <div class="catalog__container__col-first">

            <div class="catalog__widget">
                <ul>

                    @foreach (var item in (ViewData["Thematics"]) as IEnumerable<Thematic>)
                    {
                        <li><a href="/Catalog/?thematic=@item.Id">@item.Name</a></li>
                    }
                </ul>
            </div>


        </div>

        <div class="catalog__container__col-second">
            <div class="catalog__col-second__inner">

                <form class="catalog__container__inputer" asp-controller="Catalog" asp-action="" method="get">
                    <input class="catalog__input" title="name" type=search name="query" placeholder="Введите...">
                    <button class="catalog__btn__input" type="submit"><img src="~/images/mainImages/zoom-out.png" alt="Лупа" style="vertical-align: middle">Поиск</button>
                </form>

                
                    <div class="catalog__container__radio">
                        <div class="catalog__text">Сортировать по: </div>
                        <div class="catalog__form_radio_group">
                            <form class="catalog__container__inputer" asp-controller="Catalog" asp-action="" method="get">
                                <div class="catalog__form_radio_group-item">
                                    <input id="radio-1" type="radio" name="radio" value="1">
                                    <label for="radio-1">Автор</label>
                                </div>
                                <div class="catalog__form_radio_group-item">
                                    <input id="radio-2" type="radio" name="radio" value="2">
                                    <label for="radio-2">Название</label>
                                </div>
                                <div class="catalog__form_radio_group-item">
                                    <input id="radio-3" type="radio" name="radio" value="3">
                                    <label for="radio-3">Год издания</label>
                                </div>

                                <div class="catalog__form_radio_group-item">
                                    <input id="radio-4" type="radio" name="radio" value="4" checked>
                                    <label for="radio-4">Не выбрано</label>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>

            @RenderBody()



        </div>
    </div>

</body>
</html>
