@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style1.css">
    <title>BStore</title>

</head>
<body>
    <div class="account">
        <div class="account__container__item">
            <a class="account__item" href="/Account">Профиль</a>  
            <a class="account__item" href="/Account/MyPosted">Мои публикации(с)</a>
            <a class="account__item" href="/Account/MyAdded">Добавленное(к)</a>
        </div>
        @RenderBody()

</body>
</html>
