@using Microsoft.AspNetCore.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



    <title>@ViewData["Title"] - Файлообменник</title>
 
    @if (SignInManager.IsSignedIn(User))
    {

<div class="dropdown">
    <button class="dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/mainImages/login.png" alt="" style="vertical-align: middle">@UserManager.GetUserName(User)</button>
    <div class="dropdown-content">
        <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Личный кабинет</a>
        <a class="dropdown-content__link" asp-controller="User" asp-action="Logout">Выход</a>
       

    </div>
</div> }
else
{
<div class="dropdown">
    <button class="dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/mainImages/login.png" alt="" style="vertical-align: middle">Аккаунт</button>
    <div class="dropdown-content">
        <a class="dropdown-content__link" asp-controller="User" asp-action="RegistrationNewUser">Регистрация</a>
        <a class="dropdown-content__link" asp-controller="User" asp-action="Login">Вход</a>
    </div>
</div>

}





